body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0% auto;
    padding: 0% auto;
    font-family: 'inika';
}

nav {
    display: flex;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-bottom: 1px solid black;
}

 nav h2 {
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
.Category h2  {
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    background-color: rgba(127, 127, 127, 0.61);
    border: 1px solid;
    border-radius: 20px;
}

.Category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 40px;
    background-image: url(img/backgrount-bear.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
    width: 700px;
}

.Category button {
    background-color: rgba(127, 127, 127, 0.61);
    font-size: 20px;
    margin: 40px;
    padding: 30px;
    width: 130px;
    height: 60px;
}

.Category button {
    background-color: rgba(127, 127, 127, 0.61);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 130px;
    height: 60px;
    transition: background-color 0.3s ease;
}

.Category button:hover {
    background-color: rgba(63, 60, 60, 0.8);
}

.Category .btn2 {
    margin-left: auto;
}

.Category .btn4 {
    margin-left: auto;
}