body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'inika';
    height: 100vh;
  }
  
  nav {
    display: flex;
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid black;
  }
  
  nav h2 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
  }
  
  .Category {
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrount-bear.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 50px;
  }
  
  .Category h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(127, 127, 127, 0.61);
    border: 1px solid;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    margin: 30px auto;
    text-align: center;
  }
  
  .Category button {
    background-color: rgba(127, 127, 127, 0.61);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 60px;
    transition: background-color 0.3s ease;
  }
  
  .Category button:hover {
    background-color: rgba(63, 60, 60, 0.8);
  }
  
  .Category .btn2,
  .Category .btn4 {
    margin-left: auto;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      max-width: 90%;
    }
    
    .Category,
    .Category h2,
    .Category button {
      width: 60%;
    }
  
    .Category h2 {
      font-size: 20px;
      margin: 10px auto;
    }
  }