body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
}

nav {
    display: flex;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
}

h2 {
    margin: 20px;
}

.Category button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: aqua;
}

.btn1 {}

.btn2 {}

.btn3 {}

.btn4 {}